.todo {
  margin-bottom: 1rem;
}

.todo span.completed {
    text-decoration: rgb(255, 0, 76);
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: pointer;
    background: rgb(115, 115, 115);
    padding: 1rem;
}

.todo i {
    z-index: 2;
}

input[type=text]:not(.browser-default){
    padding-left: 50px;
}